{{#each this}}
 <li class="benefits-item">
        <img
          class="benefits-icon"
          src={{icon}}
          alt="icon"
        />      
        <span class="benefit">{{text}}</span>
      </li>
{{/each}}