<section class="section buypage">
  <h2 class="page-header">
    Get Likes <br />
    with refill system
  </h2>
  <div class="buypage-radio-box">
    <input class="radio-btn" type="radio" name="buypage" id="buylikes" />
    <label class="radio-label" for="buylikes">Buy Likes</label>
    <input
      class="radio-btn"
      type="radio"
      name="buypage"
      id="buyfollowers"
      checked
    />
    <label class="radio-label" for="buyfollowers" id="buyfollowers"
      >Buy Followers</label
    >
  </div>
  <ul class="folowers-list"></ul>
  <div class="choosen-box">
    <div class="choosen-inner-box">
      <div class="choosen-prices-box">
        <span class="symbol-newprice">$</span>
        <span class="choosen-newprice"></span>
        <span class="symbol-oldprice">$</span>
        <span class="choosen-oldprice"></span>
      </div>
      <div class="saved-box">
        <img
          class="saved-icon"
          src="./images/svgs/checkicon.svg"
          alt="check-img"
        />
        <span class="saved-text">You Saved</span>
        <span class="symbol-economy">$</span>
        <span class="saved-economy"></span>
      </div>
    </div>
    <button class="buybutton" id="buynow">Buy now</button>
  </div>
  <ul class="benefits-list"></ul>
</section>
