<footer class="footer">
  <div class="foot-levelone">
    <div class="footer-logo-box">
      <div class="foot-logo-iconbox">
        <img
          src="./images/svgs/logoheart2.svg"
          class="foot-logo-icon"
          width="50"
          height="50"
          alt="logo-icon"
        />
      </div>
      <h3 class="footer-logo">TopFollow</h3>
    </div>
    <div class="footer-service-box">
      <div class="foot-serv-inner-box">
        <h4 class="foot-serv-title">Services</h4>
        <ul class="foot-serv-list">
          <li class="foot-serv-item">
            <a href="#buyfollowers">Get Instagram Followers</a>
          </li>
          <li class="foot-serv-item">
            <a href="#buylikes">Get Instagram Likes</a>
          </li>
        </ul>
      </div>
      <div class="foot-serv-inner-box">
        <h4 class="foot-serv-title">Resource</h4>
        <ul class="foot-serv-list">
          <li class="foot-serv-item">
            <a href="#faqpage">FAQs</a>
          </li>
          <li class="foot-serv-item">
            <a href="#videopage">Blog</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer-icons-box">
      <img
        src="./images/svgs/paypal.svg"
        class="footer-icon"
        width="71"
        alt="paypal-icon"
      />
      <img
        src="./images/svgs/mastercard.svg"
        class="footer-icon"
        width="50"
        alt="mastercard-icon"
      />
      <img
        src="./images/svgs/amex.svg"
        class="footer-icon"
        width="50"
        alt="amex-icon"
      />
      <img
        src="./images/svgs/gpay.svg"
        class="footer-icon"
        width="50"
        alt="gpay-icon"
      />
      <img
        src="./images/svgs/ipay.svg"
        class="footer-icon"
        width="50"
        alt="ipay-icon"
      />
      <img
        src="./images/svgs/visa.svg"
        class="footer-icon"
        width="46"
        alt="visa-icon"
      />
    </div>
  </div>
  <div class="footer-copyrites">
    <p>Copyright © 2021 topfollow.com</p>
    <p><a href="#">Privacy Policy</a></p>
    <p><a href="#">Terms of Use</a></p>
  </div>
  <div class="footer-icons-box-mobile">
    <img
      src="./images/svgs/paypal.svg"
      class="footer-icon"
      width="71"
      alt="paypal-icon"
    />
    <img
      src="./images/svgs/mastercard.svg"
      class="footer-icon"
      width="50"
      alt="mastercard-icon"
    />
    <img
      src="./images/svgs/amex.svg"
      class="footer-icon"
      width="50"
      alt="amex-icon"
    />
    <img
      src="./images/svgs/gpay.svg"
      class="footer-icon"
      width="50"
      alt="gpay-icon"
    />
    <img
      src="./images/svgs/ipay.svg"
      class="footer-icon"
      width="50"
      alt="ipay-icon"
    />
    <img
      src="./images/svgs/visa.svg"
      class="footer-icon"
      width="46"
      alt="visa-icon"
    />
  </div>
</footer>
