<section class="section howpage">
  <h2 class="page-header how-header">How to buy?</h2>
  <p class="how-reason-text">
    People want to follow social media accounts with quality content. But they
    often don't have the time or patience to judge an Instagram profile or page.
  </p>
  <p class="how-doing-text">
    Instead, they rely on an account's amount of likes, or their number of views
    and followers, to decide whether to click the "follow" button.
  </p>
  <p class="how-offer-text">
    <span class="how-offer-accent">High-quality service</span> takes advantage
    of the Instagram algorithm to make your account popular in a flash!
  </p>
  <ul class="stage-list">
    <li class="stage-item">
      <div class="stage-title-box one">
        <span class="how-number">1</span>
        <h3 class="stage-title">Pick a package</h3>
      </div>
      <p class="stage-text">
        Choose the Instagram likes, followers, or views package that you're
        interested in. Feel free to get in touch if you have an inquiry about a
        bulk order.
      </p>
      <!-- <img class="how-icon" src="./images/svgs/box.svg" alt="box-icon" /> -->
    </li>
    <li class="stage-item">
      <div class="stage-title-box two">
        <span class="how-number">2</span>
        <h3 class="stage-title">Fill the info</h3>
      </div>
      <p class="stage-text">
        We will never ask you for sensitive details such as your password. All
        you have to do is provide us with your Instagram username and leave the
        rest to us!
      </p>
      <!-- <img class="how-icon" src="./images/svgs/attantion.svg" alt="box-icon" /> -->
    </li>
    <li class="stage-item">
      <div class="stage-title-box three">
        <span class="how-number">3</span>
        <h3 class="stage-title">See the growth</h3>
      </div>
      <p class="stage-text">
        We will never ask you for sensitive details such as your password. All
        you have to do is provide us with your Instagram username and leave the
        rest to us!
      </p>
      <!-- <img class="how-icon" src="./images/svgs/diagram.svg" alt="box-icon" /> -->
    </li>
  </ul>
</section>
