<section class="section main">
  <div class="mainpage container">
    <div class="actionblock">
      <h1 class="slogan">Get Free Instagram <br />Followers & Likes</h1>
      <p class="description">
        Easily get <span class="main-accent">100% FREE</span> and high-quality
        Instagram followers and likes.
        <span class="accent"
          >No password. No survey. No risk. 100% real and safe.</span
        >
      </p>
      <div class="buttonbox">
        <a class="accent" href="#buyfollowers">
          <svg width="36" height="36">
            <use href="./images/sprite.svg#icon-follower" />
          </svg>
          <span>Get free followers</span>
        </a>
        <a href="#buynow">
          <span>Buy now</span>
        </a>
      </div>
    </div>

    <div class="pictureblock">
      <picture class="picture-rocket">
        <source
          srcset="
            ./images/rocket/rocket_desktop.webp     650w,
            ./images/rocket/rocket_desktop@2x.webp 1230w,
            ./images/rocket/rocket_desktop@3x.webp 1880w
          "
          type="image/webp"
          media="(min-width: 376px)"
          sizes="50vw"
        />
        <source
          srcset="
            ./images/rocket/rocket_mobile.webp    320w,
            ./images/rocket/rocket_mobile@2x.webp 640w,
            ./images/rocket/rocket_mobile@3x.webp 960w
          "
          type="image/webp"
          media="(max-width: 375px)"
          sizes="100vw"
        />
        <img
          srcset="
            ./images/rocket/base_img/rocket.png                650w,
            ./images/rocket/base_img/rocket.png               1230w,
            ./images/rocket/base_img/rocket.png               1880w,
            ./images/rocket/base_img/mobile/rocket_mobile.png  320w,
            ./images/rocket/base_img/mobile/rocket_mobile.png  640w,
            ./images/rocket/base_img/mobile/rocket_mobile.png  960w
          "
          sizes="(min-width: 376px) 650px, 50vw"
          src="./images/rocket/base_img/rocket.png"
          alt="rocket"
        />
      </picture>
    </div>
    <!-- <p class="field"></p> -->
  </div>
</section>
