<section class="section reviewpage">
  <h2 class="page-header">Reviews</h2>
  <ul class="reviews-list"></ul>
  <div class="ourrate-box">
    <div class="ourrate-inner-box">
      <p class="ourrate-title">Customers rate us<br />Superb</p>
      <p class="ourrate">4.9</p>
      <div class="ourrate-stars-box">
        <img
          class="ourrate-star"
          src="./images/svgs/star_fill.svg"
          alt="icon star"
        />
        <img
          class="ourrate-star"
          src="./images/svgs/star_fill.svg"
          alt="icon star"
        />
        <img
          class="ourrate-star"
          src="./images/svgs/star_fill.svg"
          alt="icon star"
        />
        <img
          class="ourrate-star"
          src="./images/svgs/star_fill.svg"
          alt="icon star"
        />
        <img
          class="ourrate-star"
          src="./images/svgs/star_fill.svg"
          alt="icon star"
        />
      </div>
      <p class="ourrate-votes">from 56 reviews</p>
    </div>
    <div class="ourrate-image-box">
      <picture class="picture-girl">
        <source
          srcset="
            ./images/bg_reviewpage/girlwithphone.webp    311w,
            ./images/bg_reviewpage/girlwithphone@2x.webp 622w,
            ./images/bg_reviewpage/girlwithphone@3x.webp 933w
          "
          type="image/webp"
          media="(min-width: 376px)"
          sizes="20vw"
        />
        <img
          srcset="
            ./images/bg_reviewpage/girlwithphone.png    311w,
            ./images/bg_reviewpage/girlwithphone@2x.png 622w,
            ./images/bg_reviewpage/girlwithphone@3x.png 933w
          "
          sizes="(min-width: 376px) 311px, 20vw"
          src="./images/bg_reviewpage/girlwithphone.png"
          alt="girl"
        />
      </picture>
    </div>
  </div>
</section>
